# .env example. Rename it to .env

# The URL of your Matrix homeserver. Replace with the actual URL of your homeserver.
MATRIX_HOMESERVER_URL='https://your.matrix.server'

# Your full Matrix user ID. Replace with your actual Matrix user ID.
MATRIX_USER_ID='@yourusername:matrix.server'

# Your Matrix account password. Replace with your actual password.
MATRIX_PASSWORD='yourpassword'

# The Matrix internal room ID where you want to send notifications. Replace with the actual room ID.
MATRIX_ROOM_ID='!yourroomid:matrix.server'

# The path to the directory where the Matrix client will store its data.
# Replace with the path to your desired store directory.
MATRIX_STORE_PATH='path/to/your/store/directory'

# The name of the device that you're logging in from. This can be any string you choose.
MATRIX_DEVICE_NAME='yourdevicename'

# Environment variables for example task
# A comma-separated list of URLs to check. Replace with the actual URLs you want to monitor.
URLS_TO_CHECK='http://example.com:8080, https://anotherexample.com/en/'

# The following environment variables are optional and should not be set unless you have already
# ran the script to generate them. The script will automatically save the device_id and access_token
# to the session.json file after the first successful login.

# Your Matrix device ID. Do not set this unless you already have a device ID.
# MATRIX_DEVICE_ID='yourdeviceid'

# Your Matrix access token. Do not set this unless you already have an access token.
# MATRIX_ACCESS_TOKEN='youraccesstoken'
